/* src/components/ListCard.css */
.list-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    padding: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .list-card-label {
    background-color: #e0f7fa; /* Example background color, adjust based on label type */
    color: #00796b; /* Example text color, adjust based on label type */
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    align-self: flex-start;
}
.list-card-title {
    font-size: 14px;
    font-weight: bold;
}

.list-card-footer {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #999;
}

.list-card-footer .list-card-date {
    margin-left: 4px;
}

.delete-card-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}

.description-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 14px;
}

.description-font {
    font-weight: 500;
    font-size: 20px;
}

.save-description-button {
    background-color: #888888;
    color: #F1F2F4;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 0px;
}

.save-description-button:hover {
    background-color: #222222;
    color: #ffffff;
}

.description-textarea {
    background-color: #F1F2F4;
}

.list-card-comments {
    display: flex;
    margin-left: auto;
}