/* Sidebar.css */
.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
  }
  
  .logo-group, .menu-group, .footer {
    padding: 16px;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .sidebar-logo .logo {
    width: 100%;
    height: auto;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-item {
    margin-bottom: 16px;
  }
  
  .menu-link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    margin-right: 8px;
  }
  
  .menu-text {
    font-size: 14px;
    color: #000;
  }
  
  .accordion .accordion-item {
    border: none;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .accordion-body {
    display: none;
  }
  
  .accordion-header:hover + .accordion-body,
  .accordion-header:focus + .accordion-body {
    display: block;
  }
  
  .footer .button-group {
    display: grid;
    gap: 16px;
  }
  
  .feedback-btn {
    width: 240px;
    height: 48px;
    background: #f3f3f3;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    margin: 20px 0px -10px 0px;
    cursor: pointer;
    align-items: center;
  }
  
  .feedback-btn:hover {
    background: #e1ede4;
  }
  
  .feedback-text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
  }
  
  .copyright {
    font-size: 12px;
    color: #6c757d;
    text-align: center;
  }
  