.layout-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.layout-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
    margin-top: 70px; 
}

.layout-container.sidebar-open .layout-content {
    margin-left: 280px;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    background-color: #222222;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img img {
    width: 140px;
    height: 60px;
}

.profile-container {
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-right: 30px; 
}

.profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

.logout-button {
    position: absolute;
    top: 80px;
    left: 0;
}

.sidebar {
    width: 280px;
    height: calc(100% - 70px); 
    position: fixed;
    top: 70px;
    left: -280px;
    background-color: #222222;
    color: white;
    padding-top: 30px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    transform: translateX(-20%);
}

.sidebar.open {
    left: 0;
    transform: translateX(0%);
}

.sidebar button {
    width: 100%; 
    height: 90px;
    padding: 30px;
    background-color: #222222;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidebar button:hover {
    background-color: #E0E0E0;
    color: #000;
}

.sidebar button.active {
    background-color: #A3A3A3; 
    color: #000;
}
