/* App.css */
.app {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main-layout {
    display: flex;
    width: 100%;
}

.aside {
    min-width: 250px;
    background-color: #f4f4f4;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #f4f4f4;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content {
    flex-grow: 1;
    padding: 1rem;
}
