.board-lists {
    display: flex;
    align-items: flex-start;
}

.add-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
}

.add-list-input {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-list-button {
    background-color: #f4f5f7;
    border-radius: 18px;
    width: 300px;
    box-shadow:  5px 5px 10px #bbbbbb,
             -5px -5px 10px #d3d3d3;
    padding: 16px;
    border: none;
    cursor: pointer;
}
