/* comment 전체*/
.comment-section {
    margin: 20px 0px;
}

/* comment 추가*/
.comment-input-container {
    margin-bottom: 30px;
}

.comment-font {
    font-weight: 500;
    font-size: 20px;
}

.comment-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* 버튼 */
.comment-actions {
    display: flex;
    gap: 10px;
}

.add-comment-button, .comment-button {
    background-color: #888888;
    color: #F1F2F4;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 0px;
}

.add-comment-button:hover {
    background-color: #222222;
    color: #ffffff;
}

.comment-icon {
    width: 20px;
    height: 240x;
    cursor: pointer;
    margin: 0 5px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.comment-author {
    font-weight: bold;
}

.comment-box {
    width: 100%;
    margin: 0px;
    background-color: #F1F2F4;
    box-sizing: border-box;
}

.comment-content p {
    margin-top: 6px;
}

.comment-actions1 {
    display: flex;
    gap: 10px;
    margin: 6px 0px;
    align-items: flex-end; 
    justify-content: flex-end;
}

.comment-date {
    font-size: 0.9em;
    color: #888;
}

/* 선 */
.comment {
    border-bottom: 1px solid #878787;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* placeholder (Add a comments...) */
.comment-box::placeholder {
    font-weight: 550;
    font-size: 17px;
    color: black;
    font-style: inherit;
}